<div class="row">
    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <h2 class="subheader">
            <a href="https://20years.kde.org" target="_blank"><img src="images/kde-logo.png"/></a> Happy 20th Birthday, KDE
        </h2>
    </div>
</div>
<div class="row">
    <div class="">
        <div class="row">
            <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="service-info">
                    <p>20 years ago today Matthias Ettrich sent an email that would mark the start of KDE as we know it today - a world-wide community of amazing people creating Free Software for you. In his email he announced the new Kool Desktop Environment and said “Programmers wanted!” In the 20 years since then so much has happened. We released great software, fought for software freedom and empowered people all over the world to take charge of their digital life. In many ways we have achieved what we set out to do 20 years ago - “a consistant, nice looking free desktop-environment” and more. Millions of people use KDE’s software every single day to do their work, have fun and connect to the most important people in their life. And yet we still have a long way ahead of us. Our job is far from done. Today Free Software and KDE matters more than ever before. Only through Free Software can people truly break out of the walled gardens technology is so often building these days and stand up to surveillance. But Free Software communities like KDE also matter because they bring the world closer together. Our community is a truly global one. It is one that strives on mentoring people and letting them reach their true potential - be it as a programmer, artist, translator, community organizer, system administrator, tester or any of the hundreds of roles that make a community like KDE work. No matter if you’ve been around KDE since the very beginning or if you just joined us for a short while: Thank you for being a part of our journey so far. And if you’ve not contributed yet, today is the best day to start.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-2 col-sm-8 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="images/konqi20years.png" alt=""/>
                    </div>
                    <div class="overlay">
                        <div class="overlay-content">
                            <div class="overlay-text">
                                <div class="folio-info">
                                    <h3>Happpy Birthday KDE</h3>
                                    <p>Konqi quite excited about KDE's 20th Anniversary</p>
                                </div>
                                <div class="folio-overview">
                                    <span class="folio-expand">
                                        <a href="images/konqi20years.png" data-lightbox="portfolio">
                                            <i class="fa fa-search-plus"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="service-info">
                    <p>For all the gearheads around the world, the occasion of KDE's 20th birthday brings with it the traditional yet unconventional slice of our virtual birthday cake - our brand new book called 20 Years of KDE: Past, Present and Future scribbled in icing on top. With the birth of KDE came about the birth of change, the birth of a little bit of brilliancy, and a presence across five continents that was unimaginable at the time of its conception. It was the start of something significant.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                <div class="service-info">
                    <p>And even though we've known KDE for so long, have been responsible for shaping it and making it what it is today and have interacted with it on a personal level since quite some time, there is a lot more about KDE that not all of us know and a whole lot more about it that we are yet to discover. As we stand today with a vision in our pocket trying to learn, decide, imagine and tame the unforseeable future of KDE, we also find strength, satisfaction and validation in our past and in the large part of the never-ending journey that we have already traveled. Our destination terminates not in perfection, but in freedom and power infinite. Power to you, and to KDE. The book, in its nostalgic travel through our timeline, gives the reader insights into KDE like never before. The many stories and the many ways in which our contributors have envisioned the path ahead for us, are there for you to read in '20 Years of KDE'. Matthias Ettrich, the founder of KDE, gives you one such very important side and story about the inception of KDE when he says, "Like any other complex project, KDE was created twice.</p>
                    <p>At first as an idea, and secondly as an implementation of the idea in the real world." With people who've been around at times drastically different from now, Richard Moore shares a humbling reflection down the memory lane saying ''If you had said to me at the time that KSnapshot would continue to be developed and released for 18 years I wouldn't have believed you.'' Albert Vaca expands more on what might be in store for KDE in the book saying "Our future software will run on devices we have yet to conceive of and will do things for our users that have yet to even be dreamed of. Yet one thing will remain the same – the creation of software people love – that will inspire the next group of contributors to our community." Andreas Cord-Landwehr rightly marks this milestone in the book when he states, "In a community we are people of various backgrounds, educations and ages, and with twenty years completed, we finished what one can call a generation". Kevin Ottens sums up the need to go and get your copy at the earliest, "Why am I telling you all this you may ask? Well, I just want you, dear readers, to realize that it has been an awfully long time!" So, Happy Birthday KDE! I hope you like your birthday cake. Find more details about the book at <a href="http://20years.kde.org/book" target="_blank">20years.kde.org/book</a>!</p>
                </div>
            </div>
            <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="images/the-book.png" alt=""/>
                    </div>
                    <div class="overlay">
                        <div class="overlay-content">
                            <div class="overlay-text">
                                <div class="folio-info">
                                    <h3>20 Years of KDE book</h3>
                                    <p>the cover of the book released for KDE's 20th anniversary</p>
                                </div>
                                <div class="folio-overview">
                                    <span class="folio-expand">
                                        <a href="images/the-book.png" data-lightbox="portfolio">
                                            <i class="fa fa-search-plus"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="service-info">
                    <p>Also, the milestones of our project are marked on our <a href="https://timeline.kde.org/" target="_blank">20 Years of KDE timeline</a>. Find out the meetings and releases which defined KDE. Learn about the early and recent KDE gatherings around the world and how we have evolved over the years. What was your first KDE release?</p>
                </div>
            </div>
        </div>
        <br/>
    </div>
</div>
<br/>
