<div class="row">
    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <h2 class="subheader">
            <a href="http://softwarelivre.org/fisl17" target="_blank"><img src="images/fisl-logo.png"/></a> FISL 2016
        </h2>
    </div>
</div>
<div class="row">
    <div class="">
        <div class="row">
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="service-info">
                    <p>The 17th edition of the International Free Software Forum (FISL) took place, as usual, at the Pontifical Catholic University of Rio Grande do Sul's Convention Center in Porto Alegre, Brazil, from the 13th to 16th of July.</p>
                </div>
            </div>
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                <div class="service-info">
                    <p>FISL is the largest FOSS conference in Latin America, traditionally providing a comprehensive overview of various FOSS-related news and topics, from technical advances and FOSS adoption examples, to education and hacker culture.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="images/fisl.jpg" alt=""/>
                    </div>
                    <div class="overlay">
                        <div class="overlay-content">
                            <div class="overlay-text">
                                <div class="folio-info">
                                    <h3>FISL 2016</h3>
                                    <p>KDE Celebrates its 20th Anniversary</p>
                                </div>
                                <div class="folio-overview">
                                    <span class="folio-expand">
                                        <a href="images/fisl.jpg" data-lightbox="portfolio">
                                            <i class="fa fa-search-plus"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                <div class="service-info">
                    <p>On Friday evening, we had an early birthday party and an amazing cake to celebrate 20 years of KDE. Our booth was specially decorated for this occasion, and we had significantly more visitors than in previous years. A new feature of FISL in 2016 were the micro-conferences - whole-day meetings devoted to specific FOSS communities. Five communities organized their micro-conferences: PyLadies Brazil, Drupal, Mozilla Brazil, PostgreSQL, and of course, the KDE Community. We named our micro-conference Engrenagem ("gear" in Portuguese), and presented a series of talks by Brazilian KDE contributors. Our special guest was David Edmundson, who opened the micro-conference with his talk "Plasma 5 ‒ Infinity and Beyond". Other talks focused on topics such as the 20th KDE anniversary, Plasma, KDE-Edu, Qt development for mobile devices, and Season of KDE.</p>
                </div>
            </div>
        </div>
        <br/>
    </div>
</div>
<br/>
