<div class="row">
    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <h2 class="subheader">
            <a href="https://archive.fosdem.org/2016/" target="_blank"><img src="images/fosdem-logo.png"/></a> FOSDEM 2016
        </h2>
    </div>
</div>
<div class="row">
    <div class="">
        <div class="row">
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="service-info">
                    <p>In 2016, KDE had another successful presence at FOSDEM, Europe's largest gathering of Free Software developers. Our stall was busy selling T-shirts as we demonstrated KDE software running on a low-power ARM board, Plasma Mobile running on a Nexus 5, and KDE neon with the latest Plasma 5 on a full desktop. KolabSystems were also on hand to talk about their forthcoming e-mail client Kube.</p>
                </div>
            </div>
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                <div class="service-info">
                    <p>We also enjoyed Belgium's finest beers during FOSDEM 2016, and celebrated the launch of KDE neon with a party in Grand Place on Saturday.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                <div class="service-info">
                    <p>The track for desktop talks was held on Sunday, and we participated with three talks. The big announcement came from Jonathan who introduced KDE neon: the project to remove middle-men and bring DevOps processes to the distribution of KDE software. LiMux developers and Mark Shuttleworth raised some insightful questions, and many people were excited by the shortened feedback cycle that this approach provides for developers. Riccardo presented an enthusiastic introduction to WikiToLearn, KDE's project for creating educational lessons. He demonstrated the size of the project, which exceeds any similar attempts, and described the plans for the 1.0 release which has now been launched. Finally, Stephen Kelly announced CMakeDaemon, a tool that allows GUI IDEs to integrate with CMake. His talk included a demo of KDevelop successfully suggesting completions while writing CMake syntax.</p>
                </div>
            </div>
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="images/fosdem.png" alt=""/>
                    </div>
                    <div class="overlay">
                        <div class="overlay-content">
                            <div class="overlay-text">
                                <div class="folio-info">
                                    <h3>FOSDEM 2016</h3>
                                    <p>Awesome Gadgets at KDE Stall</p>
                                </div>
                                <div class="folio-overview">
                                    <span class="folio-expand">
                                        <a href="images/fosdem.png" data-lightbox="portfolio">
                                            <i class="fa fa-search-plus"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
    </div>
</div>
<br/>
