<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="about-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                    <h2><img src="images/logos/kdenlive-logo.png"/> Kdenlive Sprint, April 2018, Berlin</h2>
                    <h5>By Paul Brown</h5>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="">
            
            
                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <figure class="image-full">
                                <img width="100%" src="images/sprints/kdenlive_group.jpg" alt=""/>
                                <!--<figcaption>Thanks to Community onboarding efforts, nearly half the attendees were new KDE members at Akademy 2018.</figcaption>-->
                            </figure>

                            <p><a href="https://kdenlive.org/">Kdenlive is KDE's advanced video-editor</a>. In spring of 2018, members of the Kdenlive project met up for a five-day sprint (from 25th to the 29th of April). The developers Jean-Baptiste Mardelle and Nicolas Carion, along with professional community videomakers Farid Abdelnour, Rémi Duquenne and Massimo Stella, got together at the Carrefour Numérique in Paris to push the project forward.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>Despite a busy agenda which included pitching Kdenlive to the general public, the attendees managed to work some new features into the code, such as the feature that automatically separates video and audio tracks by default. This saves time, since the workflows for editing video and audio are substantially different, and editors often have to separate tracks to work on them individually anyway.</p>
                            
                            <p align="center">
                                <video width="100%" controls="true">
                                    <source src="https://kdenlive.org/wp-content/uploads/2018/05/drop.mp4" type="video/mp4" />
                                    Your browser does not support the video tag.
                                </video>
                            </p>
                        </div>
                    </div>
                </div>
                
                

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>The toolbar that overlays monitors got a makeover, and now supports multiple layout guides. The toolbar is translucent, so you can still see what is going on in the clip, and only appears when you move the mouse to the upper right corner of the monitor. This not only looks cool (very important!), but also makes it practical and more usable.</p>

                            <p align="center">
                                <video width="100%" controls="true">
                                    <source src="https://kdenlive.org/wp-content/uploads/2018/05/overlay.mp4" type="video/mp4" />
                                    Your browser does not support the video tag.
                                </video>
                            </p>
                            
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>Apart from developing new features, the team held two public sessions. First they talked with potential contributors, which had an immediate effect. Camille took it upon himself to update the project's wiki, and Elie submitted a patch for the option to manage and download keyboard shortcut templates of other video editors (such as Avid, Final Cut and Adobe Premiere Pro). Thanks to this option, an editor used to working with closed-source alternatives will immediately feel at home with Kdenlive. The second public event was with video-editing enthusiasts. The audience had the opportunity to see Kdenlive in action, learn more about it, and talk to the developers.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>During the sprint, the developers also agreed on a roadmap of where they want to take Kdenlive next, and prioritized incorporating Advanced Trimming and Single Track Transitions into the upcoming releases. </p>
                
                            <figure class="image-full">
                                <img width="100%" src="images/sprints/kdenlive_multitrack_editing_0.jpg" alt=""/>
                                <figcaption>This is what a multicam workflow looks like in Kdenlive.</figcaption>
                            </figure>
                
                            <p><a href="https://kdenlive.org/en/video-editing-applications-handbook/#trim">Advanced Trimming allows you to roll, ripple, slip or slide a clip between two existing ones</a>. When you drop a clip onto a track, the surrounding clips can behave in different ways, cropping or displacing frames automatically according to what you want to do. With Single Track Transitions, you can overlap one clip onto another on the same track and apply a transition between the two, instead of having to figure out transitions across several tracks.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>Longer-term goals include Multicam Editing. This comes in handy when you have filmed the same event from different angles with multiple cameras. Kdenlive will help you sync up the action so you can cut from one to the other seamlessly. Another goal is to support faster renders, splitting the workload between multiple cores that most modern computers come with, as well as sending heavy workloads off to the GPU.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>One final thing to look forward to is the integration of Kdenlive with other Free Software video- and audio-editing tools. The developers are looking at Blender, Natron and Ardour, as well as graphics-editing tools like GIMP, Krita and Inkscape. The plan is to incorporate their special and specific features into Kdenlive, and make sure they can all work seamlessly together. This would mean, for example, that you could create a 3D text effect in Blender and bridge it into Kdenlive without having to go through time-consuming exports and imports. Or you could edit a sequence in Kdenlive and frameserve it to do the compositing in Natron.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>Kdenlive is already a highly capable video-editor, but the work the team is carrying out promises to make it a world-class tool that both hobbyists and professionals can use. The latest version of Kdenlive is available in many distributions, as well as in AppImage and Flatpak formats. Vincent Pinon is also working on the Windows port, which is currently in Beta stage.</p>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
    <br/>
</section>
