<div class="row">
    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <h2 class="subheader">
		<a href="https://ohiolinux.org/ohio-linuxfest-2017/" target="_blank"><img src="images/ohio.png"/> Ohio Linux Fest 2017</a>
        </h2>
    </div>
</div>
<div class="row">
    <div class="">
        <div class="row">
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="service-info">
			<p>The <a href="https://ohiolinux.org/ohio-linuxfest-2017/" target="_blank">Ohio Linux Fest</a> was held in <a href="https://en.wikipedia.org/wiki/Columbus,_Ohio" target="_blank">Columbus, Ohio</a> on September 29th and 30th, and gathered many FOSS enthusiasts from the central and northeastern regions of USA. KDE returned to the Ohio Linux Fest in 2017 with a sponsor booth and a talk by Swati Lodha about her experience contributing to digiKam in the Google Summer of Code program. Our booth featured a laptop running <a href="https://neon.kde.org/" target="_blank">KDE Neon</a> and showcased Plasma 5.10, attracting a lot of interest. Attendees expressed their satisfaction with Plasma while others visited the booth to try Plasma for the first time.</p>
                </div>
            </div>
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                <div class="service-info">
                    <p>Many were impressed by how polished the user interface looked and by Plasma's performance on modest hardware. One visitor even decided to try it out that very night and came back the next day with Plasma running on his laptop! The Ohio Linux Fest was a great opportunity to present our products and talk to current and potential users about all the amazing work happening inside the KDE community. This is a rare opportunity in USA, since we have a smaller community there. Through events like this, we hope we'll be able to spark enthusiasm in this important market and build an active community of KDE users and contributors.</p>
                </div>
            </div>
        </div>
        <br/>
    </div>
</div>
<br/>
